-- Any live cell with fewer than two live neighbours dies, as if caused by under-population.
underPopulationRule : Cell -> Neighbours -> LifeCycle
underPopulationRule cell neighbours =
  case cell of
    Alive ->
      if numberOfLive neighbours < 2 then
        Dies
      else
        Same

    Dead ->
      Same

-- Any live cell with two or three live neighbours lives on to the next generation.
livesOnRule : Cell -> Neighbours -> LifeCycle
livesOnRule cell neighbours =
  case cell of
    Alive ->
      let
        numberOfLiveNeighbours = numberOfLive neighbours
      in
        if ((numberOfLiveNeighbours == 2) || (numberOfLiveNeighbours == 3)) then
          Same
        else
          Dies

    Dead ->
      Same
